@import url("/css/includes/games.css");
@import url("/css/includes/chat.css");

body {
    font-size: var(--font-size);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: block;
}

