<section id="chat">
    <div id="messages"></div>
    <form>
      <input type="text" name="message" id="message-input" />
      <button type="submit" id="send-button">Send</button>
    </form>
  </section>
  
  <template id="chat-message-template">
    <div class="message">
      <img />
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </template>
  
  <script src="/js/chat.js" defer></script>