<div class="header">
    <div class="title">BS Card Game</div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/lobby">Lobby</a>
  
      <% if (!user) { %>
        <a href="/auth/login">Login</a>
      <% } else { %>
        <a href="/auth/logout">Logout</a>
      <% } %>
    </div>
  </div>
  