<div id="create-game-container" class="modal-overlay">
  <div class="modal">
    <button id="close-create-game-form" class="modal-close" aria-label="Close">&times;</button>
    <form>
      <div>
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          placeholder="Optional game description"
        />
      </div>
      <div>
        <label for="max-players">Max Players</label>
        <input type="number" name="max-players" value="2" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Optional password" />
      </div>
      <button type="submit">Create Game</button>
    </form>
  </div>
</div>

