<div id="create-game-container" class="modal-overlay">
  <div class="modal">
    <button id="close-create-game-form" class="modal-close" aria-label="Close">&times;</button>
    <form method="post" action="/games/create">
      <div>
        <label for="max-players">Total Players: 4</label>
       <input type="hidden" id="max-players" name="maxPlayers" value="4" required />
      </div>
      <button type="submit">Create Game</button>
    </form>
  </div>
</div>

